**/.exercism/

# Dependencies & Package Managers
node_modules/
.pnp/
.pnp.js
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Testing & Build Outputs
coverage/
dist/
.ext/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
